* {
	font-family: Arial;
}

h1	{
	font-size: 26;
	text-align: center;
}

h2 {
	text-transform: uppercase;
	text-align: center;
}

#externalP {
	color: yellow;
}

#otherLang + ul {
	text-transform: full-width;
	margin-left: 40px;
	list-style: none;
}


.languages > li {
	background-color: mediumspringgreen;
}

#tools
	{
		list-style: decimal;
	}

#tools > li {
	border-width: 2px;
	border-style: solid;
	border-color: navy;
}

#otherThings img {
	height: 150px;
	width: 150;
	border-radius: 350px;
}

div ~ p {
	text-align: center;
}
* {
	font-family: Arial;
}

h1	{
	font-size: 26;
	text-align: center;
}

h2 {
	text-transform: uppercase;
	text-align: center;
}

#externalP {
	color: yellow;
}

#otherLang + ul {
	text-transform: full-width;
	margin-left: 40px;
	list-style: none;
}

.languages > li {
	background-color: mediumspringgreen;
}

#tools > li {
	border-width: 2px;
	border-style: solid;
	border-color: navy;
}



#otherThings img {
	height: 150px;
	width: 150;
	border-radius: 350px;
}

div ~ p {
	text-align: center;
}
